.home_banner_area {
    margin-bottom: 0px;
    height: 100vh;
}

.home_banner_area .box_1620 {
    bottom: 0px;
    height: auto;
    min-height: auto;
}

.home_banner_area .banner_inner {
    min-height: 500px;
}